# Chapter (2): Input, Processing, Output

## Displaying output with print Function

In [25]:
print('Hello World!')

Hello World!

In [26]:
print("Hello World!")

Hello World!

### Strings and String Literals

In [27]:
print("Don't fear!")
print("I'm here!")

Don't fear!
I'm here!

In [28]:
print('Your assignment is to read "Hamlet" by tomorrow.')

Your assignment is to read "Hamlet" by tomorrow.

### Python also allows you to enclose string literals in triple quotes (either """ or '''). Triplequoted strings can contain both single quotes and double quotes as part of the string

In [29]:
print("""I'm reading "Hamlet" tonight.""")

I'm reading "Hamlet" tonight.

In [1]:
"""
asdjlfkajsfjaslf
assdfjasjflasd
asdjfasjdf
"""

'\nasdjlfkajsfjaslf\nassdfjasjflasd\nasdjfasjdf\n'

## Comments

- Comments starts with a #, and Python will ignore them:

In [2]:
#This is a comment
print("Hello, World!")

Hello, World!

In [3]:
print("Hello, World!") #This is a comment

Hello, World!

In [4]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

### Multiline Comments

In [5]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [7]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

## Variables
- Variable: name that represents a value stored in the computer memory

In [9]:
# This program demonstrates a variable.
x = 5  # number is intger
floatVlaue = 1.55555 #float value
y = "Ahmed"
print(x)
print(floatVlaue)
print(y)

5
1.55555
Ahmed

### Variable Reassignment
- Variables do not need to be declared with any particular type, and can even change type after they have been set

In [13]:
x = 4       # x is of type int
x = "Sara" # x is now of type str
x = 999.999
print(x)

999.999

### Variable Naming Rules
- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age and AGE are three different variables)
- A variable name cannot be any of the Python keywords.

In [15]:
myvar = "John"
Myvar = "Osama"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"
print(myvar)
print(Myvar)

John
Osama

In [19]:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid syntax (4006261740.py, line 3)

## Basic Data Types

### Defining a Variable

In [9]:
x = 5

In [10]:
print(x)

5

In [11]:
x

5

In [12]:
1x

SyntaxError: invalid decimal literal (1973045331.py, line 1)

In [ ]:
name = 'Ryan'

In [ ]:
type(name)

str

In [ ]:
type(x)

int

In [ ]:
floatValue = 99.999
print(floatValue)
type(floatValue)

99.999

float

### Numbers

In [ ]:
type(1.5)

float

In [ ]:
1.23456789

In [ ]:
12345678.9

In [ ]:
type(2j)

complex

In [ ]:
1j * 1j

(-1+0j)

In [ ]:
x = 55
type(x)

int

### Strings

In [ ]:
'String 1 ' + 'String 2'

'String 1 String 2'

In [ ]:
'1' + '   1'

'1   1'

In [ ]:
'1' + 1

TypeError: can only concatenate str (not "int") to str

### Booleans

In [ ]:
True

True

In [ ]:
False

False

In [ ]:
true = True

In [ ]:
1 == 1

True

In [ ]:
1 == 2

False

## Reading Input from Keyboard

In [ ]:
# Get the user's first name.
first_name = input('Enter your first name: ')

# Get the user's last name.
last_name = input('Enter your last name: ')

# Print a greeting to the user.
print('Hello', first_name, last_name)

Hello sam hal

## Reading Numbers with the input Function

In [1]:
# Get the user's name, age, and income.
age = int(input('What is your age? ')) #convert str to integer (casting)
name = input('What is your name? ')
income = float(input('What is your income? '))
# Display the data.
print('Here is the data you entered:')
print('Name:', name)
print('Age:', age)
print('Income:', income)

Here is the data you entered:
Name: Osama
Age: 25
Income: -200.222

## Casting

### int

In [3]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print(x)
print(y)
print(z)

1
2.8
3

### floats

In [5]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

### strings

In [6]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
print(x)
print(y)
print(z)

s1
2
3.0

## Performaing Calculation

### Arithmetic Operators

In [7]:
1 + 1

2

In [9]:
5 - 2

3

In [10]:
4 * 5

20

In [11]:
5 ** 2

25

In [55]:
20 / 6 #division

3.3333333333333335

In [12]:
20 // 6  # integer division

3

In [16]:
20 % 6 # reminder (mod)

0

In [33]:
rem = 8 % 2
if rem == 0:
    print("number is even")
else:
    print("number is odd")

number is even

### Arithmetic Operators with Strings

In [34]:
'string 1 ' + 'string 2'

'string 1string 2'

In [35]:
'- string 1 - ' * 4

'- string 1 - - string 1 - - string 1 - - string 1 - '

In [36]:
' 1' + 4

TypeError: can only concatenate str (not "int") to str

In [42]:
int(1.8888 + 2)

3

In [43]:
4+8/2-3*2%2

8.0

## Breaking Long Statements into Multiple Lines

In [3]:
value1 = value2 =value3 = value4 =value5 = value6 = 3
total = (value1 + value2 +
         value3 + value4 +
         value5 + value6)
print(total)

18

In [6]:
print('One', end='')
print('Two', end=' ')
print('Three')

OneTwo Three

In [9]:
print('One', 'Two', 'Three', sep='*$$$$')

One*$$$$Two*$$$$Three

## Fromatting

In [12]:
print('The number is', format(133333333.289567, '.2f'))

The number is 133333333.29

In [60]:
print(format(12345.6789, ',.2f'))

12,345.68

In [61]:
print(format(123456789.456, ',.2f'))

123,456,789.46

In [20]:
print('The number is', format(1234.67890, ',.2f'))

The number is 1,234.68

In [23]:
price = 123456.7890
print(f"The price of the product is: {price:.1f}")

The price of the product is: 123456.8