# Chapter (2): Input, Processing, Output

## Displaying output with print Function

In [ ]:
import subprocess
import sys
import math
print('Hello World!') #single quotes

In [ ]:
print("Hello World!") #double quotes

### Strings and String Literals

In [ ]:
print("Don't fear!")
print("I'm here!")

In [ ]:
print(' I'm giving Your assignment is to read "Hamlet" by tomorrow.')

### Python also allows you to enclose string literals in triple quotes (either """ or '''). Triplequoted strings can contain both single quotes and double quotes as part of the string

In [ ]:
print("""I'm reading "Hamlet" tonight.""")

## Comments

- Comments starts with a #, and Python will ignore them:

In [ ]:
# This is a comment
# This is my first program in Python
print("Hello, World!") # This prints Hello, World! to the screen

In [ ]:
print("Hello, World!")    # This is a comment
name = 'Ahmed'  # this will store the name in the variable name
print(name)

### Multiline Comments

In [ ]:
# this is a comment
# another comment
# one more comment
"""
this is a multi-line comment
    that spans multiple lines
    and is often used for documentation
        """
print("Hello, World!")

In [ ]:
"""
This is a comment
written in
more than just one line
"""
""" This is a comment
written in
more than just one line
This is a comment
written in
more than just one line
This is a comment
written in
more than just one line
This is a comment
written in
more than just one line """

print("Hello, World!")

## Variables
- Variable: name that represents a value stored in the computer memory

In [ ]:
# This program demonstrates a variable.
price = 5  # number is intger
floatVlaue = 1.55555    # float value
name = "Ahmed"    # string
# print(price)
# price = 777
print(price)
print(floatVlaue)
print(name)

### Variable Reassignment
- Variables do not need to be declared with any particular type, and can even change type after they have been set

In [ ]:
x = 4       # x is of type int
# print(x)
x = "Salem"   # x is now of type str
# print(x)
x = 999.999
print(x)

### Variable Naming Rules
- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age and AGE are three different variables)
- A variable name cannot be any of the Python keywords.

In [ ]:
myvar = "John"
Myvar = "Osama"
my_var = "sos"
_my_var = "momo"
myVar = "fof"
MYVAR = "did"
print(myvar)
print(Myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)

In [ ]:
# 2myvar = "John"
# my-var = "John"
name = 'Ahmed'
print("His name is ", name)
my,  var = "Salem",  'Sara'
# my = "Salem"
# var = 'Sara'
print(my, var)

## Basic Data Types

### Defining a Variable

In [ ]:
x = 5
# print(x)

In [ ]:
x = x + 10
x

In [ ]:
1x

In [ ]:
name = 'Ryan'
print(name)

In [ ]:
type(name)

In [ ]:
type(x)

In [ ]:
floatValue = 999999.999
print(floatValue)
type(floatValue)

### Numbers

In [ ]:
type(1.5)

In [ ]:
1.23456789

In [ ]:
1234567.89

In [ ]:
type(2j)

In [ ]:
# Define complex numbers
z1 = 3 + 4j
z2 = -5 - 2j

print("z1:", z1)
print("z2:", z2)

# Addition
z_sum = z1 + z2

# Subtraction
z_diff = z1 - z2

# Multiplication
z_prod = z1 * z2

# Division
z_div = z1 / z2

print("Sum:", z_sum)
print("Difference:", z_diff)
print("Product:", z_prod)
print("Division:", z_div)

### Strings

In [ ]:
'String1  ' + '     String2'

In [ ]:
'1' + '1'

In [ ]:
'1'+1

### Booleans

In [ ]:
True

In [ ]:
False

In [ ]:
myTrue = False
print(myTrue)

In [ ]:
1 == 1   # this is a logic equality

In [ ]:
1 == 2

## Reading Input from Keyboard

In [ ]:
# Get the user's first name.
first_name = input('Enter your first name: ')

test = input()
# Get the user's last name.
last_name = input('Enter your last name: ')

# Print a greeting to the user.
print('Hello', first_name, last_name)

## Reading Numbers with the input Function

In [ ]:
# Get the user's name, age, and income.
age = int(input('What is your age? '))    # convert str to integer (casting)
name = input('What is your name? ')
income = float(input('What is your income? '))
# Display the data.
print('Here is the data you entered:')
print('Name: ', name)
print('Age: ', age)
print('Income: ', income)

## Casting

### int

In [ ]:
x = int(1)   # x will be
y = int(2.8)   # y will b
z = int("3444")   # z will b
print(x)
print(y)
print(z)

### floats

In [ ]:
x = float(1)     # x will be
y = float(2.8)   # y will be
z = float("3")   # z will be
w = float("4.2")   # w will b
num = 3.2 + w

print(x)
print(y)
print(z)
print(w)
print(num)

### strings

In [ ]:
x = str("s1") 
y = str(2)    
z = str(3.0)  
num = z + 3.1
print(x)
print(y)
print(z)
print(num)

## Performaing Calculation

### Arithmetic Operators

In [ ]:
1 + 3

In [ ]:
5 - 1

In [ ]:
4 * 5

In [ ]:
5 ** 2

In [ ]:
20 / 6    # division

In [ ]:
# Integer division of two integers
result = 7 // 3
print(result)

In [ ]:
# Integer division with floats
result = 7.5 // 2
print(result)

In [ ]:
# Integer division with negative numbers
result = -7 // 3
print(result)

In [ ]:
20 % 4   # reminder (mod)

In [ ]:
rem = 777777877777 % 2
if rem == 0:
    print("number is even")
else:
    print("number is odd")

### Arithmetic Operators with Strings

In [ ]:
'string 1 ' + 'string 2'

In [ ]:
'string1 ' * 4

In [ ]:
' 1' * 3

In [ ]:
int(1.8888 + 2)

### Operator  Precedence and Grouping with Parentheses
- Python operator precedence:
1. Operations enclosed in parentheses
    - Forces operations to be performed before others
2. Exponentiation (**)
3. Multiplication (*), division (/ and //), and remainder (%)
4. Addition (+) and subtraction (-)
- Higher precedence performed first
Same precedence operators execute from left to right

In [ ]:
4+8/2-3*2 % 2

### Challenges

In [ ]:
x = 7//4 - 2 * 2 - 2
printx)

In [ ]:
x = 5//3 * 2 * 5 %  
printx)

In [ ]:
n = 4
x = intn)**(2 % 5)
printx)

In [ ]:
n = 3.5
x = (intn)**2) % 5//2
printx)

In [ ]:
n = 2.5
x = intn)  ** (2 + 1)
printx)

In [ ]:
x = input'Enter a number: ')   # The user enters 55
k = 3 * x
printk)

In [ ]:
x = 10
x = x+5
print(x)

## Breaking Long Statements into Multiple Lines

In [ ]:
value1 = value2 =  value3 = value4  = value5 = value6 = 3
total = (value1 + value2 +
         value3 + value4 +
         value5 + value6
print(total)

## Formating print

In [ ]:
print('One',  end=''
print('Two', end='')
print('Three')

In [ ]:
print('One', 'Two', 'Three', sep='#@@@@@')

## Displaying Formatted Output with F-strings 

- Introduced in Python 3.6
- Use `f` or `F` prefix before a string
- Embed Python expressions inside `{}`
- Easier and faster than older methods like `str.format()` or `%` formatting
- An f-string is a special type of string literal that is prefixed with the letter f

In [ ]:
# old style format
print('The number is', format(12345.6789, '.2f'))

In [ ]:
# old style format
print(format(12346789.6789, ',.2f'))
print(format(100000000000, ',.2f'))

In [ ]:
print(f'Hello world')

In [ ]:
# F-strings support placeholders for variables

first_name = 'Ahmed'
last_name = 'Hamdi'
print(
    f'Hello your first name is {firstname} and your last name is {last_name}.')

In [ ]:
# Placeholders can also be expressions that are evaluated

print(f'The value is {10 + 2}.')

val = 20
# sum = val + 2
print(f'The value is {val + 6}.')

In [ ]:
# Format specifiers can be used with placeholders
num = 123.456789
print(f'{num:.2f}')

num = 1000000.00
print(f'{num:,.2f}')

discount = 0.5555
print(f'{discount:.0%}')

In [ ]:
# Specifying a minimum field width:
num1 = 12345.123456
num2 = 12345.123456
print(f'The number is {num1:10,.2f} {num2:10,.2f}')

## Excersices

Write a program that asks the user to enter an integer number composed of three digits. Your program should print the total of the digits.

In [ ]:
#rite a program that asks the user to enter an integer number
composed of three digits. Your program should print the total of the digits.

# Prompt the user to enter a three-digit integer number
number = int(input("Enter a three-digit integer: "))

# Extract the digits
hundreds = number // 100
remaining = number % 100
tens = remaining // 10
units = remaining % 10

# Calculate the total of the digits
total = hundreds + tens + units

# Display the result
print(f"The total of the digits is: {total}")

Write a complete program that calculates and displays the 
(1) volume and the (2) total area of a Cone including the base.  

The program should ask the user to enter (1) radius, and (2) height. 
Define PI value in your program (3.1415). No validation required.

SAMPLE RUN: 

Enter Radius: 3.20

Enter Height: 1.99

Surface Area = 70.86 

Volume = 21.34

- All output values should be formatted to two decimal digits only. [See sample run]
- Output and input statement must be very similar to the shown sample.

In [ ]:
# Surface and volume of cone

# Define the value of PI
PI = 3.1415

# Prompt the user for radius and height
radius = float(input("Enter the radius of the cone: "))
height = float(input("Enter the height of the cone: "))

# Calculate the slant height of the cone
slant_height = math.sqrt(radius**2 + height**2)

# Calculate the volume of the cone
volume = (1/3) * PI * radius**2 * height

# Calculate the total surface area of the cone
lateral_surface_area = PI * radius * slant_height
base_area = PI * radius**2
total_surface_area = lateral_surface_area + base_area

# Display the results
print(f"Volume of the cone: {volume:.2f}")
print(f"Total surface area of the cone: {total_surface_area:.2f}")

>A computer store is offering discounts on laptops and tablets. The store has announced a 10% discount on laptops and a 25% discount on tablets. The original price of a laptop is QR 5000, and for a tablet, it’s QR 1500. Write a Python program to read the number of laptops and tablets bought by the customer, then print the total discount amount for each item and the total price for all items.

In [ ]:
#  computer store discount
tablet_discount = 0.25
laptop_discount = 0.10

tablet_price = 1500
laptop_price = 5000

num_laptops = int(input('Enter the number of laptops: '))
num_tablets = int(input('Enter the number of tablets: '))

laptops_total_discount = num_laptops * laptop_price * laptop_discount
tablet_total_discount = num_tablets * tablet_price * tablet_discount

laptop_total_price = (laptop_price*num_laptops) - laptops_total_discount
tablet_total_price = (tablet_price*num_tablets) - tablet_total_discount

total_price = laptop_total_price + tablet_total_price

print(f'laptop total discount: {laptops_total_discount}')
print(f'tablet total discount: {tablet_total_discount}')
print(f'total price {total_price}')